[test]
DatabaseReadback.EmptyDatabase                   = 1
DatabaseReadback.Book                            = 1
DatabaseReadback.Clothing                        = 1
DatabaseReadback.Movie                           = 1
DatabaseReadback.User                            = 2
DatabaseReadback.Mixed                           = 2
ConsoleInterface.Quit                            = 1
ConsoleInterface.HitBook                         = 2
ConsoleInterface.HitClothing                     = 2
ConsoleInterface.HitMovie                        = 2
ConsoleInterface.CaseInsensitive                 = 2
ConsoleInterface.HugeQuantity                    = 2
ConsoleInterface.AddOneToCart                    = 2
Database.BuyCart                                 = 2
DatabaseReadback.ThreeBooks                      = 2
DatabaseReadback.ThreeClothes                    = 2
DatabaseReadback.ThreeMovies                     = 2
ConsoleInterface.AddTwoItems                     = 2
ConsoleInterface.AddTwoIdenticalItems            = 2
Database.BuyCartTwoItems                         = 2
ConsoleInterface.OrMultipleHit                   = 2
ConsoleInterface.AndMultipleHit                  = 2
ConsoleInterface.AddToTwoUsersCarts              = 2
ConsoleInterface.AddSameProductTwoUsersCarts     = 2
ConsoleInterface.AddTwoProductsTwoUsers          = 2
Database.BuyTwoProductsTwoUsers                  = 2
ConsoleInterface.BuyCartInsufficientFunds        = 2
Database.BuyCartInsufficientFunds                = 2
ConsoleInterface.AddItemToMultipleUsers          = 2
Database.BuySingleStockItemMultipleUsers         = 2
ConsoleErrors.ViewCartUnknownUser                = 1
ConsoleErrors.BuyCartUnknownUser                 = 1
ConsoleErrors.AddInvalidHitToCart                = 1
AmazonStress.Buy10000Products                    = 2
AmazonStress.AndSearch10000Products              = 2